name: Rodar Scraper de Vagas

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Baixar o código (Checkout)
        uses: actions/checkout@v4

      - name: 2. Configurar o Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 3. Instalar dependências (npm install)
        run: npm install

      - name: 4. Instalar navegadores do Playwright
        run: npx playwright install

      - name: 5. Executar o Robô Scraper
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: node scraper.js
